@{ ViewData["Title"] = "Home Page"; }

<div class="revolution-slider-container">
    <div class="revolution-slider">
        <ul style="display: none;">
            <!-- SLIDE 1 -->
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <!-- MAIN IMAGE -->
                <img src="~/images/slider/image_01.jpg" alt="slidebg1" data-bgfit="cover">
                <!-- LAYERS -->
                <!-- LAYER 01 -->
                <div class="tp-caption"
                     data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="97">
                    <!--data-start="500"
                    data-transform_in="x:0;y:-40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <div class="hexagon"><div class="sl-small-car-oil"></div></div>
                </div>
                <!-- LAYER 02 -->
                <div class="tp-caption"
                     data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="262">
                    <!--data-start="900"
                    data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <h2><a target="_top" title="MAKE YOUR CAR LAST LONGER">Автозапчасти для вашего автомобиля</a></h2>
                </div>
                <!-- LAYER 03 -->
                <div class="tp-caption"
                     data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="343">
                    <!--data-start="1100"
                    data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->
                </div>
                <!-- LAYER 04 -->
                <div class="tp-caption"
                     data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="441">
                </div>
                <!-- / -->
            </li>
            <!-- SLIDE 2 -->
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <!-- MAIN IMAGE -->
                <img src="~/images/slider/image_02.jpg" alt="slidebg2" data-bgfit="cover">
                <!-- LAYERS -->
                <!-- LAYER 01 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="97">
                    <!--data-start="500"
                    data-transform_in="x:0;y:-40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <div class="hexagon"><div class="sl-small-car"></div></div>
                </div>
                <!-- LAYER 02 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="262">
                    <!--data-start="900"
                    data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <h2><a target="_top" title="MAKE YOUR CAR LAST LONGER">Цена-качество только у нас</a></h2>
                </div>
                <!-- LAYER 03 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="343">
                    <!--data-start="1100"
                    data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <p class="description">Отзывчивые сотрудники всегда готовы вам помочь</p>
                </div>
                <!-- LAYER 04 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="441">
                </div>
                <!-- / -->
            </li>

            <!-- SLIDE 3 -->
            <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                <!-- MAIN IMAGE -->
                <img src="~/images/slider/image_03.jpg" alt="slidebg3" data-bgfit="cover">
                <!-- LAYERS -->
                <!-- LAYER 01 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":500,"speed":1200,"from":"y:-40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="97">
                    <!--data-start="500"
                    data-transform_in="x:0;y:-40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <div class="hexagon"><div class="sl-small-car-checklist"></div></div>
                </div>
                <!-- LAYER 02 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":900,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="262">
                    <!--data-start="900"
                    data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <h2><a target="_top" href="" title="MAKE YOUR CAR LAST LONGER">Сделай правильный выбор!</a></h2>
                </div>
                <!-- LAYER 03 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":1100,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="343">
                    <!--data-start="1100"
                    data-transform_in="x:0;y:40;o:0;s:1200;e:easeInOutExpo;"
                    data-transform_out="x:0;y:0;o:0;s:500;e:easeInOutExpo;"-->

                    <p class="description">Покупай у нас!</p>
                </div>
                <!-- LAYER 04 -->
                <div class="tp-caption customin customout"
                     data-frames='[{"delay":1300,"speed":1200,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                     data-x="center"
                     data-y="441">
                </div>
                <!-- / -->
            </li>
        </ul>
    </div>
</div>
<!--/-->

<div class="theme-page">
    <div class="clearfix">
        <div class="row gray full-width">
        </div>
        <div class="row page-margin-top-section">
            <div class="row">
                <h2 class="box-header">Почему мы?</h2>
                <div class="row page-margin-top">
                    <div class="column column-1-3">
                        <ul class="features-list big">
                            <li>
                                <div class="hexagon"><div class="sl-small-user-chat"></div></div>
                                <h4 class="box-header page-margin-top">Квалифицированный персонал</h4>
                                <p>Профессиональная и дружелюбная атмосфера</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="features-list big">
                            <li>
                                <div class="hexagon"><div class="sl-small-wrench-screwdriver"></div></div>
                                <h4 class="box-header page-margin-top">Лучшие материалы</h4>
                                <p>Мы вложили средства во все новейшие специализированные инструменты и диагностическое программное обеспечение</p>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-1-3">
                        <ul class="features-list big">
                            <li>
                                <div class="hexagon"><div class="sl-small-truck-tow"></div></div>
                                <h4 class="box-header page-margin-top">Профессиональные стандарты</h4>
                                <p>
                                    Наша автомастерская обслуживает самые разные модели. Мы делаем только ту работу, которая необходима для решения вашей проблемы
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row full-width page-margin-top-section">
            <ul class="galleries-list clearfix page-margin-top">
                <li>
                    <img src="~/images/samples/480x320/image_07.jpg" alt="">
                </li>
                <li>
                    <img src="~/images/samples/480x320/image_02.jpg" alt="">
                </li>
                <li>
                    <img src="~/images/samples/480x320/image_08.jpg" alt="">
                </li>
                <li>
                    <img src="~/images/samples/480x320/image_05.jpg" alt="">
                </li>
            </ul>
        </div>
        <div class="row page-margin-top-section">
            <div class="column column-1-2">
                <h3 class="box-header">Наша задача</h3>
                <p class="description">Мы предлагаем полный спектр гаражных услуг для владельцев транспортных средств, расположенных в районе Орши. Все механические услуги выполняются высококвалифицированными механиками. Мы справимся с любой автомобильной проблемой.</p>
                <p>Наши профессионалы знают, как обращаться с широким спектром автосервисов. Независимо от того, водите ли вы легковой автомобиль, грузовик среднего размера или внедорожник, наши механики стремятся убедиться, что ваш автомобиль будет работать наилучшим образом, прежде чем покинуть наш автомобильный магазин.</p>
                <div class="page-margin-top">
                    @using (Html.BeginForm("About", "Home"))
                    {
        <button type="submit" class="btn btn-primary" name="save">Узнать больше!</button>}
                    @*<a class="more" href="about.html" title="READ MORE"><span>READ MORE</span></a>*@
                </div>
            </div>
            <div class="column column-1-2">
                <h3 class="box-header">Популярные вопросы</h3>
                <ul class="accordion margin-top-40 clearfix">
                    <li>
                        <div id="accordion-using-synthetic">
                            <h4>Стоит ли использовать синтетическое моторное масло?</h4>
                        </div>
                        <p>
                            Синтетические моторные масла производятся в процессе синтеза, в котором очень маленькие молекулы собираются в более крупные дизайнерские молекулы с превосходными смазывающими свойствами.
                        </p>
                    </li>
                    <li>
                        <div id="accordion-parts-replacements">
                            <h4>Какие гарантии на выполненный ремонт и на запчасти?</h4>
                        </div>
                        <p>Наш Автосервис предоставляет гарантии на все выполненные работы, техническое обслуживание и запчасти. Гарантия имеет документальное подтверждение и прописывается в акте выполненных работ.</p>
                    </li>
                    <li>
                        <div id="accordion-track-routine">
                            <h4>Повысился расход топлива в автомобиле. В чем причина?</h4>
                        </div>
                        <p>Причин может быть множество. Начиная от простого некачественного топлива, до неисправностей в проводке автомобиля. Чтобы выяснить, в чем конкретно причина, необходимо рассматривать каждый случай отдельно. Обращаясь к нам, Вы можете быть уверенны, что причина будет установлена точно.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row full-width top-border page-margin-top-section padding-bottom-50">
            <div class="row">
                <div class="our-clients-list-container page-margin-top">
                    <ul class="our-clients-list">
                        <li>
                            <img src="/images/logos/photo1.png" alt="">
                        </li>
                        <li>
                            <img src="/images/logos/photo2.jpg" alt="">
                        </li>
                        <li>
                            <img src="/images/logos/photo3.jpg" alt="">
                        </li>
                        <li>
                            <img src="/images/logos/photo4.jpg" alt="">
                        </li>
                        <li>
                            <img src="/images/logos/photo5.jpg" alt="">
                        </li>
                        <li>
                            <img src="/images/logos/photo6.jpg" alt="">
                        </li>
                    </ul>
                    <div class="our-clients-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>